<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>18 - Express Web Server (EJS) test !</title>
</head>
<body>
    <h2>Hello World From EJS !</h2>
    <!--O padrão "<%= %>" é particular ao EJS, o "=" significa que iremos mostrar um dado, uma variável-->
    <h3>Person: <%= name %></h3>
    <p>QueryString Value: <%= Qstr %></p>
    <!--Iremos receber nosso post no form abaixo, utilizando o url parser do Express-->
    <form method="POST">
        First Name: <input type="text" id="firstname" name="firstname"><br />
        Last Name: <input type="text" id="lastname" name="lastname"><br />
        <input type="submit" value="Submit">
    </form>

    <script>
        // O codigo ajax abaixo, está enviando uma solicitação 'POST' diretamente, apenas para demonstrar o método GET, onde utilizamos o middleware do express, o jsonParser:
        $.ajax({
            type: 'POST',
            url: '/personjson',
            data: JSON.stringify({
                firstname: 'John',
                lastname: 'Doe'
            }),
            dataType: 'json',
            contentType: 'application/json'
        });
    </script>
</body>
</html>